<section class="container-fluid">
  <div class="row recipe-background">
    <div class="col-xs-12 col-md-4 header-height">
      <p class="info-position">{{recipe.name}}<br>
      <span ng-if="recipe.vegan" class="vegan size">Vegan</span>
      <span ng-if="recipe.gluten_free" class="gluten-free size">Gluten Free</span>
      <span ng-if="recipe.low_carb" class="low-carb size">Low Carb</span>
      <span ng-if="recipe.low_carb" class="nut-free size">Nut Free</span>
      <span ng-if="recipe.low_carb" class="soy-free size">Soy Free</span></p>
    </div>
    <div class="col-xs-12 col-md-4 header-height keepcentered">
      <img ng-src="{{recipe.dish_image}}" class="resize center-profile shadow-large">
      <p class="time-position"> <img class="logosize" ng-src="<%= asset_path( 'time.png' ) %>" />{{recipe.cook_time}} mins | <img class="logosize" ng-src="<%= asset_path( 'graphic.png' ) %>" />
      {{recipe.serving}}</p>
    </div>
    <div class="col-xs-12 col-md-4 header-height"></div>
  </div>
</section>


<section class="container shadow-large remove-padding backwhite">
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div>
        <img class="ingredients-image" ng-src="{{recipe.ingredients_image}}">
    </div>
    <md-content>
      <md-list>
        <md-list-item class="md-1-line" ng-repeat="ingredient in ingredients">
          <div class="md-list-item-text">
            <p class="remove-margin">{{ingredient.ingredient}}</p>
          </div>
          <p class="quantity">{{ingredient.quantity}}</p>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
  <div class="col-xs-12 col-md-6 column-margin">
    <div class="center-align">
      <img ng-click="checkValid(1)" ng-src="<%= asset_path( 'tool.png' ) %>" />
      <img ng-click="checkValid(2)" ng-src="<%= asset_path( 'icon.png' ) %>" />
    </div>
    <div class="tool-border">
      <!-- <div ng-repeat="tool in tools"> -->
        <img ng-if="pot" ng-src="<%= asset_path( 'pot.png' ) %>" />
        <img ng-if="pan" ng-src="<%= asset_path( 'pan.png' ) %>" />
        <img ng-if="bowl" ng-src="<%= asset_path( 'bowl.png' ) %>" />
        <img ng-if="stove" ng-src="<%= asset_path( 'stove.png' ) %>" />
        <img ng-if="measuring" ng-src="<%= asset_path( 'measuring.png' ) %>" />
        <img ng-if="oven" ng-src="<%= asset_path( 'oven.png' ) %>" />
        <img ng-if="blender" ng-src="<%= asset_path( 'blender.png' ) %>" />
        <img ng-if="rice" ng-src="<%= asset_path( 'rice.png' ) %>" />
      <!-- </div> -->
      <hr width="50%">
    </div>
    <div>
      <div  ng-repeat="instruction in instructions | orderBy: 'instruction.order'">
        <div class="circle">{{instruction.order}}</div>
        <div style="margin-bottom:20px;margin-right:20px; margin-left: 80px">{{instruction.step}}</div>
        <br>
      </div>
    </div>
    <div>
      <div ng-bind-html="video"></div>
    </div>
  </div>
</div>
</section>

<div modal-show modal-visible="showDialog" class="modal fade" id="recipe-completed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Recipe Completed!</h4>
      </div>

      <div class="modal-body">

        <div>
          <form ng-submit="formComplete.create()">
            <p>Add recipe to profile?<p>
            <p><input type="submit" name="create" class="btn btn-info" value="Add"></p>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<div modal-show modal-visible="showDialog2" class="modal fade" id="challenge-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myChellengeRequest">Game On!</h4>
      </div>

      <div class="modal-body">
        <div>

          <form ng-submit="createChallenge()">
            <p>Select a user to challenge:</p>
            <input ng-model="search"><br>

            <section id="user-list">
              <div class="panel panel-default panel-params">
                <div class="panel-heading">Search:</div>
                  <div class="list-group">
                    <button type="button" class="list-group-item" ng-repeat="user in userlist | filter:{username: search} track by $index" ng-click="confirmChallenger($index)">
                      <div class="comment-user-image">
                        <img  class="comment-image-raw" ng-src="{{user.avatar_image}}">
                      </div>
                      <div class="comment-user-div">{{user.username}}</div>
                      <div class="comment-user-diet pull-right"><span ng-if="user.vegan">Vegan | </span><span ng-if="user.gluten_free">Gluten Free | </span><span ng-if="user.dairy_free">Dairy Free | </span><span ng-if="user.nut_free">Nut Free | </span><span ng-if="user.soy_free">Soy Free</span></div>
                    </button>
                  </div>
              </div>
            </section>

            <p><input type="submit" name="create" class="btn btn-info confirm" value="Challenge!"></p>
            <div class="comment-user-image confirm">
              <img  class="comment-image-raw" ng-src="{{selectedUser.avatar_image}}">
            </div>
            <div class="comment-user-div confirm">{{selectedUser.username}}</div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>