<section class="container-fluid">
  <div class="row recipe-background">
    <div class="col-xs-12 col-md-4 header-height">
      <p class="info-position">{{recipe.name}}<br>
        <span class="cook-time"><img class="timer-size" ng-src="<%= asset_path( 'time.png' ) %>" /> {{recipe.cook_time}} MINS |
        <img class="timer-size" ng-src="<%= asset_path( 'graphic.png' ) %>" /> {{recipe.serving}} SERVINGS</span><br>
        <span ng-if="recipe.vegan" class="vegan"><img class="highlight-size" ng-src="<%= asset_path( 'vegan.png' ) %>" /></span>
        <span ng-if="recipe.gluten_free" class="gluten-free"><img class="highlight-size" ng-src="<%= asset_path( 'GF.png' ) %>" /></span>
        <span ng-if="recipe.low_carb" class="low-carb"><img class="highlight-size" ng-src="<%= asset_path( 'lc.png' ) %>" /></span>
        <span ng-if="recipe.nut_free" class="nut-free"><img class="highlight-size" ng-src="<%= asset_path( 'nf.png' ) %>" /></span>
        <span ng-if="recipe.soy_free" class="soy-free"><img class="highlight-size" ng-src="<%= asset_path( 'soyfree.png' ) %>" /></span><br>
      </p>
    </div>
    <div class="col-xs-12 col-md-4 header-height keepcentered">
      <img ng-src="{{recipe.dish_image}}" class="resize center-profile shadow-large">
      <div class="time-position">
        <img class="try-pos" ng-click="checkValid(1)" ng-src="<%= asset_path( 'tool.png' ) %>" />
        <img class="challenge-pos" ng-click="checkValid(2)" ng-src="<%= asset_path( 'icon.png' ) %>" />
      </div>
    </div>
    <div class="col-xs-12 col-md-4 header-height"></div>
  </div>
</section>


<section class="container shadow-large remove-padding backwhite">
  <div class="row" style="margin-bottom:50px">
    <div class="col-xs-12 col-md-6">
      <div>
          <img class="ingredients-image" ng-src="{{recipe.ingredients_image}}">
      </div>
      <md-content>
        <md-list>
          <md-list-item class="md-1-line" ng-repeat="ingredient in ingredients">
            <div class="md-list-item-text">
              <p class="remove-margin">{{ingredient.ingredient}}</p>
            </div>
            <p class="quantity">{{ingredient.quantity}}</p>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
    <div class="col-xs-12 col-md-6 column-margin">
      <div class="tool-border">
          <img ng-if="pot" ng-src="<%= asset_path( 'pot.png' ) %>" />
          <img ng-if="pan" ng-src="<%= asset_path( 'pan.png' ) %>" />
          <img ng-if="bowl" ng-src="<%= asset_path( 'bowl.png' ) %>" />
          <img ng-if="stove" ng-src="<%= asset_path( 'stove.png' ) %>" />
          <img ng-if="measuring" ng-src="<%= asset_path( 'measuring.png' ) %>" />
          <img ng-if="oven" ng-src="<%= asset_path( 'oven.png' ) %>" />
          <img ng-if="blender" ng-src="<%= asset_path( 'blender.png' ) %>" />
          <img ng-if="rice" ng-src="<%= asset_path( 'rice.png' ) %>" />
        <hr width="50%">
      </div>
      <div  ng-repeat="instruction in instructions | orderBy: 'instruction.order'">
        <div class="circle">{{instruction.order}}</div>
        <div class="nums">{{instruction.step}}</div>
        <br>
      </div>
    <hr width="50%">
    </div>
    <div style="text-align:center">
      <div ng-bind-html="video"></div>
    </div>
  </div>
</section>

<div modal-show modal-visible="showDialog" class="modal fade" id="recipe-completed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">TRY THIS RECIPE</h4>
      </div>

      <div class="modal-body">
        <div>
          <form ng-submit="formComplete.create()" style="text-align:center">
            <p>Click confirm to add this recipe to your dashboard<p>
            <p><input type="submit" name="create" class="btn btn-info" value="Confirm"></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div modal-show modal-visible="showDialog2" class="modal fade" id="challenge-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myChellengeRequest">Game On!</h4>
      </div>

      <div class="modal-body">
        <div>

          <form ng-submit="createChallenge()">
            <p>Select a user to challenge:</p>
            <input ng-model="search"><br>

            <div class="panel panel-default panel-params" style="margin-top:15px;">
              <div class="panel-heading">Search:</div>
              <div class="list-group">
                <button type="button" class="list-group-item" ng-repeat="user in userlist | filter:{username: search} track by $index" ng-click="confirmChallenger($index)">
                  <div class="comment-user-image">
                    <img  class="comment-image-raw" ng-src="{{user.avatar_image}}">
                  </div>
                  <div class="comment-user-div">{{user.username}}</div>
                  <div class="comment-user-diet pull-right">
                    <span ng-if="user.vegan">Vegan | </span>
                    <span ng-if="user.gluten_free">Gluten Free | </span>
                    <span ng-if="user.dairy_free">Dairy Free | </span>
                    <span ng-if="user.nut_free">Nut Free | </span>
                    <span ng-if="user.soy_free">Soy Free</span>
                  </div>
                </button>
              </div>
            </div>

            <p><input type="submit" name="create" class="btn btn-info confirm" style="margin-top:15px" value="Challenge!"></p>
            <div class="comment-user-image confirm">
              <img ng-if="selectedUser.avatar_image" class="comment-image-raw" ng-src="{{selectedUser.avatar_image}}">
            </div>
            <div class="comment-user-div confirm">{{selectedUser.username}}</div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>